
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>insurance mangment system</title>
  <!-- Favicon -->
  <link rel="icon" href="/assets/img/brand/favicon.png" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Argon CSS -->
  <link rel="stylesheet" href="/assets/css/argon.css?v=1.2.0" type="text/css">
</head>

<body>
  <!-- Sidenav -->
  <%- include('sidebar'); -%>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <%- include('top'); -%>
    <!-- Header -->
    <!-- Header -->
    <div class="header pb-6 d-flex align-items-center" style="min-height: 250px; background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white"> <img type=""  class="img-thumbnail" width="400" src="<%= records.logo %>"></h1>
           <!--  <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
            <a href="#!" class="btn btn-neutral">Edit profile</a> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
       <div class="row">
        <div class="col-xl-4 order-xl-2">
      
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0"></h3>
                </div>
               
              </div>
            </div>
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">life policy information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username"> company name</label>
                        <input type="text" id="input-username" class="form-control" placeholder="primumamount" value="<%= records.name %>">
                      </div>
                     
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">primumamount </label>
                        <input type="text" id="input-username" class="form-control" placeholder="primumamount" value="<%= records.primumamount %>">
                      </div>
                    </div>
                    <div class="col-lg-6">
                    
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">timeduration</label>
                        <input type="text" id="input-email" class="form-control" placeholder="enter timeduration" value="<%= records.timeduration%>">
                      </div>
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">cover</label>
                        <input type="text" id="input-last-name" class="form-control" placeholder="enter cover" value="<%= records.cover%>">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">shortdiscription</label>
                        <textarea type="text"  rows="10" cols="20"  class="form-control" >
                          "<%= records.shortdiscription%>"
                          </textarea>
                        </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">longdiscription</label>
                        
                        <textarea  rows="10" cols="20" class="form-control">
                          "<%= records.longdiscription%>"
                          </textarea>
                      </div>
                    </div>
                   
                   
                </div>
                <hr class="my-4" />
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">Generate PDF Document </h6>
                <div class="pl-lg-4">
                  <div class="form-group">
                    
                    <a href="/policy/downloadl/<%= records._id %>" class="btn btn-success">Generate Pdf</a>
                  </div>
                </div> 
              </form>
            </div>
          </div>
        </div>
      </div> 
      <!-- Footer -->
    
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <!-- Argon JS -->
  <script src="/assets/js/argon.js?v=1.2.0"></script>
</body>

</html>